body {
    background-color:#13a787;
}

#ground{
    border-style: groove;
    /* background: #460e37; */
    width: 39%;
    height: 288px;
    background: #2f272d;
    border-width: 7px;
}

#floor {
    height: 23px;
    width: 100%;
    background: rgba(82, 102, 105, 0.63);
    margin-top: 203px;
    z-index: 100000;
}

#tit {
    color: #b11212;
    font-family: monospace;
}

#ball {
    width: 40px;
    height: 39px;
    background: #ab9f9e;
    position: absolute;
    margin-left: 358px;
    margin-top: 39px;
    border-radius: 26px;

}

#start {
    background: #9fa5d6;
    color: #0e150f;
    margin-top: -257px;
    margin-left: 81%;
}


#head{
            width: 168px;
    height: 8px;
    background: #960d0d;
    position: absolute;
    margin-left: 129px;
    margin-top: -90px;
    border-radius: 26px;
}

.legs {
       width: 9px;
    height: 63px;
    background: #960d0d;
    position: absolute;
    margin-top: -88px;
    border-radius: 4px;
}

#leg1 {
    margin-left: 270px; 
}


#leg2 {
    margin-left: 240px; 
}


#leg3 {
    margin-left: 170px; 
}


#leg4 {
    margin-left: 140px; 
}


#hand {
    width: 44px;
    height: 16px;
    background: red;
    margin-top: 258px;
    cursor: pointer;
}

.controls {
    border-radius: 28px;
    font-family: monospace;
    font-size: 18px;
    background: #d0a0ca;
    width: 31px;
    display: none;
}

.controls:hover{
    background: rgb(233, 229, 10);
}

#left {
        margin-left: -304px;
    position: absolute;
    margin-top: -20px;
}

#right {
        margin-left: 272px;
    position: absolute;
    margin-top: -20px;
}

#logic {
    display: none;
}

#state {
        color: #171167;
    font-family: monospace;
    font-size: 28px;
}

#aii{
        text-align: center;
    font-size: 19px;
    font-family: monospace;
    color: #d0ba79;
}

#me {
    font-family: monospace;
    color: rgba(5, 45, 7, 0.11);
    font-size: 17px;
}