<center>
    <h1 id="state">Collecting movement path data..</h1>
        <h1 id="tit">. . .</h1><br>
        <!-- <span id="widthis"></span><br>
        <span id="heightis"></span><br> -->
        <textarea id="logic"></textarea>
        <div id="ground">
            <div id="ball" class="ball"></div>
            <div id="hand" class="hand"></div>
            <button ng-click="left()" id="left" class="controls"> < </button>
            <button ng-click="right()" id="right" class="controls"> > </button>
            <!-- <div id="floor"></div>
            <div id="head"></div>
            <div id="leg1" class="legs"></div>
            <div id="leg2" class="legs"></div>
            <div id="leg3" class="legs"></div>
            <div id="leg4" class="legs"></div>
            
            <div id="ball"></div>
            
        <button ng-click="start()" id="start">start</button> -->
        </div>
        <h2 id="me">#AjunRavi#</h2>
</center>